## Configuration
.env*
!.env.local
!.env*.example

## Rollup
.rollup.cache/

## Node
/**/node_modules/

## Build/Test
/**/dist/
coverage/

## Other
/.vscode/

## Yarn
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
yarn.lock


# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# !/.yarn/cache
/.pnp.*
